@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Books shop: @ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet"/>
</head>
<body>
    <h2>@ViewBag.Title</h2>
    
    <div class="row">
        <div class="col-md-9">
            <div class="product-info">
                <img src="img/book1.jpg" />
                <h3>The Mud</h3>
                <ul class="product-props">
                    <li>Price: 9.00</li>
                    <li>Title: Splendida cetate</li>
                    <li>Description: the best</li>
                </ul>
                <button id="buyButton" class="btn btn-succes">Buy</button>
            </div>

            <div id="theForm">
                Login
                <form class="popup-form">
                    <label>Username:</label>
                    <br />
                    <input />
                    <br />
                    <label>Email:</label>
                    <br />
                    <input type="email" />
                    <br />
                    <label>Subject:</label>
                    <br />
                    <input type="text" />
                    <br />
                    <label>Message:</label>
                    <br />
                    <textarea rows="4"></textarea>
                    <br />
                    <input type="submit" value="Send Message" />
                </form>
            </div>

            <div>
                <div id="loginToggle">Login</div>
                <form class="popup-form">
                    <div>
                        <label>Username</label>
                        <input />
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" />
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label>Remember Me?</label>
                    </div>

                    <div>
                        <input type="submit" value="Login" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <p>This is a fun site to do some buying</p>
        </div>
    </div>
</body>
  </html>
   